@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden; color: #222;
  font-family: 'Lato', sans-sarif;
  background-color: #333;
}

.container {
  padding: 50px;
  width: 100vw;
  min-height: 100vh;
  background-color: #fafafa;
  transform-origin: top left;
  transition: transform 0.5s linear;
}

.container.show-nav {
  transform: rotate(-20deg);
}

.circle-container {
  top: -100px;
  left: -100px;
  position: fixed;
}

.circle {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: relative;
  background-color: #ff7979;
  transition: transform 0.5s linear;
}

.container.show-nav .circle {
  transform: rotate(-70deg);
}

.circle button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  background: transparent;
  border: 0;
  color: #fff;
  height: 100px;
  font-size: 26px;
}

.circle button:focus {
  outline: none;
}

.circle button#open {
  left: 60%;
}

.circle button#close {
  top: 60%;
  transform: rotate(90deg);
  transform-origin: top left;
}

.content {
  max-width: 1000px;
  margin: 50px auto;
}

.content h1 {
  margin: 0;
}

.content small {
  color: #555;
  font-style: italic;
}

.content p {
  font-size: 16px;
  color: #555;
  line-height: 1.5;
  margin: 15px 0;
}

.content h3 {
  margin-bottom: 20px;
}

.content img {
  max-width: 100%;
}

.container.show-nav + nav li {
    transform: translateX(0);
    transition-delay: 0.3s;
}

nav {
  position: fixed;
  bottom: 40px;
  left: 0;
  z-index: 100;
}

nav ul {
  list-style-type: none;
  padding-left: 30px;
}

nav ul li {
  text-transform: uppercase;
  color: #fff;
  margin: 40px 0;
  transform: translateX(-100%);
  transition: transform 0.4s ease-in;
  
}

nav ul li i {
  font-size: 20px;
  margin-right: 10px;
}

nav ul li + li {
  transform: translateX(-150%);
  margin-left: 15px;
}

nav ul li + li + li {
  margin-left: 30px;
  transform: translateX(-200%);
}

nav a {
  color: #fafafa;
  text-decoration: none;
  transition: all 0.5s;
}

nav a:hover {
  color: #ff7979;
  font-weight: bold;
}
